{% extends '_base.html' %}

{% block title %}
Ecofrag-Epífitas
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
{% endblock %}


{% block content %}
<h1 style='text-align: center;'>Ecofrag-Epífitas</h1>
<hr>
<table class="table table-bordered" id="epifitasTable">
    <thead>
    <tr>
        <th scope="col">Sinonimia</th>
        <th scope="col">Gênero</th>
        <th scope="col">Epíteto</th>
        <th scope="col">Família</th>
        <th scope="col">Adicionada em...</th>
    </tr>
    </thead>
    <tbody>
    {% if ultimas_adc_list %}
    {% for especie in ultimas_adc_list %}
    <tr>
        <th scope="row"><a href="{{ especie.get_absolute_url }} ">{{ especie.sinonimia }}</a></th>
        <td>{{ especie.genero }}</td>
        <td>{{ especie.epiteto }}</td>
        <td>{{ especie.familia }}</td>
        <td>{{ especie.adicionada_em|date:"d/m/y H:i"}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <th scope="row" colspan="5" style="text-align: center;">Acervo em construção</th>
    </tr>
    {% endif %}
    </tbody>
</table>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.11.2/sorting/datetime-moment.js"></script>
<script>
$(document).ready(function() {
    $.fn.dataTable.moment('DD/MM/YY HH:mm');
    $('#epifitasTable').DataTable();
} );
</script>
{% endblock %}